<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" href="#">Admin</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", admin_path %></li>
        <li><%= link_to "Rentals", admin_subpage_path("rent") %></li>
        <li><%= link_to "Inventory", admin_subpage_path("inventory") %></li>
        <li><%= link_to "Reports", admin_subpage_path("reports") %></li>
        <li><%= link_to "Clients", admin_subpage_path("clients") %></li> 
         
      </ul>
      <%= form_for(:find_email, html: {class: "navbar-form navbar-left"}) do |f| %> 
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", placeholder: "User Search by Email" %>
        </div>
        <%= f.submit "Find", class: "btn btn-success" %>
      <% end %>
       
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>