<div class="reports">
<h2>Reports</h2>
<div class="row table-responsive"> 
<h3>Expired Rentals</h3>
       <table class="table table-striped">
        <tr>
          <th>Rental ID</th>
          <th>User ID</th>
          <th>Clothing Code</th>
          <th>Start</th>
          <th>End</th>
          <th>Picked Up?</th>
          <th>Active?</th> 
          <th>
        </tr>
        <% if @expired != nil %> 
         <% @expired.each do |rental| 
          clothing_code = Clothing.find(rental.clothing_id).clothing_code
          client = User.find(rental.user_id) %>
          <tr>
            <td><%= rental.id %></td>
            <td><%= link_to client.name, account_path(supplied_email: client.email) %><%= " (ADMIN)" if client.admin %></td>
            <td><%= link_to clothing_code, clothing_path(rental.clothing_id) %></td>
            <td><%= rental.start.strftime("%-m/%-d/%y at %H:%M") %></td>
            <td style="<%= 'color: #D34747' if (rental.active) %>"><%= rental.end.strftime("%-m/%-d/%y at %H:%M") %></td>
            <td style="<%= 'color: #D34747; font-weight: bold;' if (rental.active && !rental.picked_up) %><%= 'color: green;font-weight: bold' if (rental.active && rental.picked_up) %>"><%= rental.picked_up %></td>
            <td style="<%= 'color: green; font-weight: bold' if (rental.active)%>"><%= rental.active %></td>
            <td><%= details(rental) %></td>
          </tr> 
        <% end 
        end %>
      </table>
      <hr>
      <h3>Active Rentals</h3>
       <table class="table table-striped">
        <tr>
          <th>Rental ID</th>
          <th>User ID</th>
          <th>Clothing Code</th>
          <th>Start</th>
          <th>End</th>
          <th>Picked Up?</th>
          <th>Active?</th> 
          <th>
        </tr>
        <% if @active != nil %> 
         <% @active.each do |rental| 
          clothing_code = Clothing.find(rental.clothing_id).clothing_code 
          client = User.find(rental.user_id) %>
          <tr>
            <td><%= rental.id %></td>
            <td><%= link_to client.name, account_path(supplied_email: client.email) %><%= " (ADMIN)" if client.admin %></td>
            <td><%= link_to clothing_code, clothing_path(rental.clothing_id) %></td>
            <td><%= rental.start.strftime("%-m/%-d/%y at %H:%M") %></td>
            <td style="<%= 'color: #D34747' if (rental.active) %>"><%= rental.end.strftime("%-m/%-d/%y at %H:%M") %></td>
            <td style="<%= 'color: #D34747; font-weight: bold;' if (rental.active && !rental.picked_up) %><%= 'color: green;font-weight: bold' if (rental.active && rental.picked_up) %>"><%= rental.picked_up %></td>
            <td style="<%= 'color: green; font-weight: bold' if (rental.active)%>"><%= rental.active %></td>
            <td><%= details(rental) %></td>
          </tr> 
        <% end 
        end %>
      </table>
    </div>  
</div>