<% provide(:title, 'Borrow') %>
  
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1 class="main-title">Borrow </h1>
    <h4 class="sub-title">Let Campus Closet dress you to reach your goals</h4>

    <nav class="navbar navbar-default clothing-search">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Clothing Search</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_for(:borrow_search, url: borrow_path, html: {class: "navbar-form navbar-left", role: "search"}) do |f| %>
        <div class="form-group">
          <div class="btn-group btn-input clearfix">
             
             
            <%= f.select(:gender, options_for_select(get_genders), {}, {class: "form-control btn btn-default"}) %>
          </div>

          <div class="btn-group btn-input clearfix">
           <%= f.select(:type, options_for_select(get_types), {}, {class: "form-control btn btn-default"}) %>
          </div>

          <div class="btn-group btn-input clearfix">
            <%= f.select(:size, options_for_select(get_all_sizes("")), {}, {class: "form-control btn btn-default"}) %>
          </div>
 
        </div>

        <div class="btn-group btn-input clearfix">
            <%= f.submit "Search", class: "btn btn-primary", style: "" %>
          </div>
        
      <% end %> 

      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <div class="row table-responsive"> 
       <table class="table table-striped">
        <tr>
          <th>Clothing Code</th>
          <th>Gender</th>
          <th>Type</th>
          <th>Size</th>
          <th>Color</th>
          <th>Set Piece?</th> 
          <th></th>
        </tr>
        <% if @clothing_results != nil
         @clothing_results.each do |clothing| %>
          <tr>
            <td><%= clothing.clothing_code %></td>
            <td><%= clothing.gender %></td>
            <td><%= clothing.clothing_type %></td>
            <td><%= clothing.size %></td>
            <td><%= clothing.color %></td>
            <td><%= "none" %></td> 
            <td><%= can_borrow(clothing) %></td>
          </tr> 
        <% end 
        end %>
      </table>
    </div> 


    <%= form_tag import_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
  </div>